input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body {
  align-items: center;
  background: #FFFFFF;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.btn {
  background: #E5B6D5;
  border: .35em solid;
  border-color: #B2479A #CC7FB5;
  border-style: outset;
  color: white;
  font: bold 55px "Open Sans", sans-serif;
  letter-spacing: .15em;
  margin: 0 1em;
  padding: 0;
  width: 400px;
  height: 3.5em;
}

.btn:hover {
  background: #B2479A;
  border-color: #CC7FB5 #E5B6D5;
}

@media (max-width: 1040px) {

  .btn{
    font-size: 40px;
    width: 300px;
  }
}

@media (max-width: 780px) {
  body {
    flex-direction: column;
  }

  .btn {
    font-size: 35px;
    margin: 1em;
    width: 250px;
  }

  .reset-button {
    border: .5em solid;
    border-color: #B2479A #CC7FB5;
    border-radius: 0;
    font-size: 20px;
    height: 3em;
  }
}
